@use "sass:map";
@use "sass:color";
@use "../../style/global_variables" as gv;

.tag {
    background-color: map.get(gv.$colors, "main");
    border-radius: 10px;
    min-width: 84px;
    height: 18px;
    text-align: center;

    .tag-text {
        margin: 2px 8px 0px 8px;
        font-size: 10px;
        color: white;
        font-weight: normal;
    }
}