@use "./global_variables" as gv;

.about-banner img{
    width: 100%;
    height: 111px;
}

.about-collapses {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

@media (min-width: gv.$desktop-width-min) {

    .about-banner img {
        height: 223px;
    }

    .about-collapses {
        margin: 40px 208px 0px 208px;
        row-gap: 30px;
    }
}
