@use "sass:map";
@use "sass:color";
@use "./global_variables" as gv;


.error-title, .error-text, .error-link {
    color: map.get(gv.$colors, "main");
    text-align: center;
}

.error-title, .error-text {
    margin-bottom: 113px;
}

.error-title {
    font-size: 96px;
}

.error-text {
    font-size: 18px;
}

.error-link {
    font-size: 14px;
}

.error-link:visited {
    color: map.get(gv.$colors, "main");
}