.home-banner {
    position: relative;
    display: flex;
    align-items: center;
}

.home-banner img{
    width: 100%;
    height: 111px;
}

.locations {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}
