footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 66px 127px 66px 127px;
    margin-top: 20px;
}

.logo {
    object-fit: cover;
    height: 100%;
    width: 122px;
    align-self: center;
}

.siteProperty {
    align-self: center;
    color: white;
    text-align: center;
}